/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*{
    margin: 0;
}
html, body{
    height: 100%;
}
body{
    --black: hsl(240, 6%, 13%);
    --gray: hsl(240, 9%, 89%);
    display: -ms-grid;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(assets/background.png);
    width: 375px;
    height: 812px;
}
.container{
    max-width: 250px;
    text-align: center;
    color: var(--gray);
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
#selo-rocketseat{
    -webkit-animation: rotating 8s linear infinite;
            animation: rotating 8s linear infinite;
}
.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
    -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
    -webkit-animation: surging .8s forwards;
            animation: surging .8s forwards;
}
@-webkit-keyframes surging {
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes surging {
    100%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
.avatar span{
    position: absolute;
    top: -15px;
    z-index: 3;
}
.avatar > img{
    width: 10rem;
    height: 11.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
a{
    margin-top: .25rem;
    color: var(--gray);
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .75rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

p {
    margin-top: 2rem;
}

ul{
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
